Analyzing global internet patterns

Outil utilisé : Locker Studio

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('internet_usage.csv')
pop_mondiale = pd.read_csv("pop.csv", skiprows=4)
gdp = pd.read_csv("GDP.csv", skiprows=4)

In [3]:
df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,..,0.00472257,0.0045614,0.0878913,0.105809,1.22415,2.10712,1.9,...,7,8.26,11,13.5,16.8,17.6,18.4,..,..,..
1,Albania,ALB,0.114097,0.325798,0.390081,0.9719,2.42039,6.04389,9.60999,15.0361,...,54.3,56.9,59.6,62.4,65.4,68.5504,72.2377,79.3237,82.6137,83.1356
2,Algeria,DZA,0.491706,0.646114,1.59164,2.19536,4.63448,5.84394,7.37598,9.45119,...,29.5,38.2,42.9455,47.6911,49.0385,58.9776,60.6534,66.2356,71.2432,..
3,American Samoa,ASM,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,10.5388,..,11.2605,13.5464,26.838,37.6058,48.9368,70.87,...,86.1,87.9,89.7,91.5675,..,90.7187,93.2056,93.8975,94.4855,..

## #Internet Usage

In [4]:
df.columns

Index(['Country Name', 'Country Code', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [5]:
df.shape

(217, 26)

In [6]:
df.columns

Index(['Country Name', 'Country Code', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [17]:
df.isna().sum()

Country Name    0
Country Code    0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
2022            0
2023            0
dtype: int64

## #Pop Mondiale Dataframe

In [7]:
pop_mondiale.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,...,107906.0,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130072080.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,...,607123269.0,623369401.0,640058741.0,657801085.0,675950189.0,694446100.0,713090928.0,731821393.0,750503764.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,...,33831764.0,34700612.0,35688935.0,36743039.0,37856121.0,39068979.0,40000412.0,40578842.0,41454761.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,...,418127845.0,429454743.0,440882906.0,452195915.0,463365429.0,474569351.0,485920997.0,497387180.0,509398589.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,...,28157798.0,29183070.0,30234839.0,31297155.0,32375632.0,33451132.0,34532429.0,35635029.0,36749906.0,NaN

In [8]:
pop_mondiale.shape

(266, 69)

In [9]:
pop_mondiale.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

In [10]:
# Supprimer les colonnes dont les années sont entre 1960 et 1999
for year in range(1960, 2000):
    if str(year) in pop_mondiale.columns:
        pop_mondiale = pop_mondiale.drop(columns=[str(year)])
pop_mondiale = pop_mondiale.drop(columns=['Indicator Name', 'Indicator Code','Unnamed: 68','Indicator Name'])

In [11]:
pop_mondiale.columns

Index(['Country Name', 'Country Code', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [18]:
pop_mondiale.isna().sum()

Country Name    0
Country Code    0
2000            1
2001            1
2002            1
2003            1
2004            1
2005            1
2006            1
2007            1
2008            1
2009            1
2010            1
2011            1
2012            1
2013            1
2014            1
2015            1
2016            1
2017            1
2018            1
2019            1
2020            1
2021            1
2022            1
2023            1
dtype: int64

In [21]:
rows_with_missing_data = pop_mondiale[pop_mondiale.isna().any(axis=1)]
print(rows_with_missing_data)

       Country Name Country Code  2000  2001  2002  2003  2004  2005  2006  \
110  Not classified          INX   NaN   NaN   NaN   NaN   NaN   NaN   NaN

     2007  ...  2014  2015  2016  2017  2018  2019  2020  2021  2022  2023
110   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[1 rows x 26 columns]

In [22]:
pop_mondiale = pop_mondiale.drop(index=110)

In [23]:
pop_mondiale.isna().sum()

Country Name    0
Country Code    0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
2022            0
2023            0
dtype: int64

## #GDP / Hab

In [12]:
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27458.225331,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535,33984.790620,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,186.132432,186.947182,197.408105,225.447007,209.005786,226.883067,...,1479.564123,1329.777824,1520.171298,1538.924188,1493.780445,1344.080962,1522.590088,1628.024526,1659.515290,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,565.569730,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153,415.707417,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,121.938353,127.452629,133.825452,139.006714,148.547736,155.563837,...,1845.767804,1616.843198,1560.162999,1703.896392,1783.654365,1664.249176,1747.840549,1777.235012,1568.724310,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3213.902611,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2308.159767,NaN

In [13]:
# Supprimer les colonnes dont les années sont entre 1960 et 1999
for year in range(1960, 2000):
    if str(year) in gdp.columns:
        gdp = gdp.drop(columns=[str(year)])
gdp = gdp.drop(columns=['Indicator Name', 'Indicator Code','Unnamed: 68'])

In [14]:
gdp.columns

Index(['Country Name', 'Country Code', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [19]:
gdp.isna().sum()

Country Name     0
Country Code     0
2000            14
2001            13
2002             9
2003             9
2004             9
2005             9
2006             8
2007             8
2008             7
2009             5
2010             5
2011             4
2012             6
2013             6
2014             5
2015             7
2016             8
2017             8
2018             8
2019             7
2020             8
2021             8
2022            11
2023            23
dtype: int64

In [24]:
rows_with_missing_data = gdp[gdp.isna().any(axis=1)]
print(rows_with_missing_data)

                  Country Name Country Code          2000          2001  \
11              American Samoa          ASM           NaN           NaN
32                      Bhutan          BTN    771.924911    812.238211
38             Channel Islands          CHI  43479.194077  41873.740615
50                        Cuba          CUB   2751.381771   2842.967043
52              Cayman Islands          CYM           NaN           NaN
69                     Eritrea          ERI    314.357397    325.409162
84                   Gibraltar          GIB           NaN           NaN
91                   Greenland          GRL  19004.003844  19275.433966
93                        Guam          GUM           NaN           NaN
108                Isle of Man          IMN  21161.396307  21819.712383
110             Not classified          INX           NaN           NaN
130                    Lebanon          LBN   3986.835139   4009.559298
137              Liechtenstein          LIE  76087.911114  75067.800168
147   St. Martin (French part)          MAF           NaN           NaN
164   Northern Mariana Islands          MNP           NaN           NaN
172              New Caledonia          NCL  15329.729720  14482.360626
193  Korea, Dem. People's Rep.          PRK           NaN           NaN
199           French Polynesia          PYF  14978.324105  14640.936006
212                 San Marino          SMR  37600.707738  39035.103429
216                South Sudan          SSD           NaN           NaN
225  Sint Maarten (Dutch part)          SXM           NaN           NaN
227       Syrian Arab Republic          SYR   1138.188485   1186.829135
228   Turks and Caicos Islands          TCA           NaN  18325.745811
239                      Tonga          TON   1995.076503   1753.516595
254              Venezuela, RB          VEN   4776.281676   4920.393136
255     British Virgin Islands          VGB           NaN           NaN
256      Virgin Islands (U.S.)          VIR           NaN           NaN
261                     Kosovo          XKX           NaN           NaN

             2002          2003           2004           2005           2006  \
11    8972.696365   9197.661968    8958.428667    8831.269760    8745.166211
32     895.799490   1022.382403    1130.359346    1299.949386    1405.607162
38   44459.731819  48570.779663   56259.534423   57647.118891   62745.100659
50    3005.211042   3202.781099    3399.219629    3786.337992    4329.982660
52            NaN           NaN            NaN            NaN   87085.093738
69     304.775756    348.950327     426.840948     412.753079     447.997405
84            NaN           NaN            NaN            NaN            NaN
91   20652.841704  27459.875330   32023.682052   32489.727731   35458.254298
93   20909.959030  21877.317837   23618.826689   25631.977611   25709.935149
108  24471.079881  28861.617806   35564.602391   38135.859789   42627.508935
110           NaN           NaN            NaN            NaN            NaN
130   4290.852838   4437.715885    4600.683714    4602.198046    4635.251412
137  79795.178589  90108.367365  100280.831357  105295.057028  114167.939211
147           NaN           NaN            NaN            NaN            NaN
164  19227.889425  18938.872839   18924.583190   17015.748789   16314.557859
172  16104.552041  20768.106149   24475.648855   25528.291835   28193.253757
193           NaN           NaN            NaN            NaN            NaN
199  16004.058329  19582.893640   21764.220321   21984.193623   22330.867666
212  41790.843272  52529.909370   58232.017618   59877.800584   63270.778076
216           NaN           NaN            NaN            NaN            NaN
225           NaN           NaN            NaN            NaN            NaN
227   1183.247345   1220.179077    1368.114823    1533.901665    1718.783472
228  17803.947177  18859.189027   21246.009800   24122.302818   28734.287306
239   1759.480333   1936.041237    2195.448741    2477.726409    2750.347582
254   3652.098965   3229.505571    4269.089709    5432.485418    6739.380653
255           NaN           NaN            NaN            NaN            NaN
256  30062.022505  31731.256624   35006.361440   40828.746093   41377.146601
261           NaN           NaN            NaN            NaN            NaN

              2007  ...           2014           2015           2016  \
11     9231.372409  ...   12026.334493   12727.410265   12843.334290
32     1850.415704  ...    2849.499987    2954.040820    3152.309051
38    74139.977994  ...   64700.742570   61852.073653   55950.148536
50     4807.438890  ...    7146.704591    7727.919972    8110.558740
52    89888.261821  ...   75845.306041   76379.209511   77802.254157
69      480.447624  ...            NaN            NaN            NaN
84             NaN  ...            NaN            NaN            NaN
91    39780.944137  ...   50485.224414   44536.354971   48181.745354
93    26605.432421  ...   33900.148653   35165.701464   35930.659490
108   55040.243705  ...   91885.452872   84753.518742   82025.945451
110            NaN  ...            NaN            NaN            NaN
130    5125.258100  ...    7577.641330    7714.110000    8089.012088
137  130492.595350  ...  178735.153021  167187.157310  165375.491396
147            NaN  ...   20638.770588            NaN            NaN
164   15914.219304  ...   15945.417609   17665.100749   24225.474169
172   35177.653526  ...   37816.955860   30858.723706   30782.854443
193            NaN  ...            NaN            NaN            NaN
199   24888.178134  ...   22258.632138   19166.959476   19690.077573
212   70124.463439  ...   51260.493835   43146.824044   44359.479766
216            NaN  ...    1242.734502    1080.147186            NaN
225            NaN  ...   37134.912423   37839.628382   37308.614780
227    1937.611386  ...    1060.591059     847.731632     656.349059
228   29443.840883  ...   23996.291013   25736.101625   26946.417852
239    2797.065552  ...    4136.590138    4123.903240    3987.986262
254    8331.620970  ...   15943.612720            NaN            NaN
255            NaN  ...            NaN            NaN            NaN
256   44158.505404  ...   33045.364380   34007.352941   35324.974887
261            NaN  ...    3902.494244    3520.628507    3759.449591

              2017           2018           2019           2020  \
11    11863.683945   12552.054687   12886.135952   14489.258656
32     3435.288048    3400.204172    3576.879871    3191.669070
38    55806.570913   60783.353308   60568.108527   56785.940239
50     8610.608295    8911.462060    9232.261159    9605.261251
52    80053.944451   83865.553157   88254.290368   82338.798285
69             NaN            NaN            NaN            NaN
84             NaN            NaN            NaN            NaN
91    50765.749467   54545.135858   53309.203591   54693.076680
93    36779.007890   37195.950307   39274.943142   36482.936395
108   83481.303849   89393.824425   87127.551798   79513.533035
110            NaN            NaN            NaN            NaN
130    8608.210850    9174.536662    8905.880055    5561.191670
137  170547.092299  174988.775083  166907.839305  164671.093553
147            NaN            NaN   19033.064963            NaN
164   31225.604996   26509.362838   24496.665212   18220.838243
172   32354.710283   34902.896878   33411.335884   33270.330598
193            NaN            NaN            NaN            NaN
199   20826.931249   21925.616044   21582.589205   20746.272043
212   45192.027977   47950.688056   46627.012236   44426.646340
216            NaN            NaN            NaN            NaN
225   34701.305849   31708.311012   34861.469529   30150.899838
227     851.502005    1098.066864    1109.539260     572.355290
228   25779.612237   27160.157957   27273.437699   17452.657805
239    4365.929328    4638.897743    4676.847903    4700.449328
254            NaN            NaN            NaN            NaN
255            NaN            NaN            NaN            NaN
256   35365.069304   36663.208755   38633.529892   39787.374165
261    4009.317993    4384.186241    4415.997161    4310.888247

              2021           2022          2023
11    15236.160488   18017.458938           NaN
32     3570.612579    3711.327679           NaN
38    66912.175005   67627.308234  74589.138023
50             NaN            NaN           NaN
52    86438.445257   92202.147803  97749.507896
69             NaN            NaN           NaN
84             NaN            NaN           NaN
91    57116.295771            NaN           NaN
93    38074.879375   41833.151713           NaN
108   94299.969349            NaN           NaN
110            NaN            NaN           NaN
130    4045.373911    3654.358455           NaN
137  196783.729415  186400.233768           NaN
147   21668.377653            NaN           NaN
164   19455.501394   23785.754590           NaN
172   35311.554355   33516.363086           NaN
193            NaN            NaN           NaN
199   21982.903894   20738.649997           NaN
212   54168.982826   54264.570496           NaN
216            NaN            NaN           NaN
225   32548.436685   36476.630083  38077.544487
227     663.614246    1051.671496           NaN
228   23114.790212   26802.067375  30348.811441
239    4912.579506    4933.074791           NaN
254            NaN            NaN           NaN
255            NaN            NaN           NaN
256   42571.077737   44320.909186           NaN
261    5270.426702    5290.947472   5960.158205

[28 rows x 26 columns]

In [25]:
print(gdp.iloc[11])

Country Name    American Samoa
Country Code               ASM
2000                       NaN
2001                       NaN
2002               8972.696365
2003               9197.661968
2004               8958.428667
2005                8831.26976
2006               8745.166211
2007               9231.372409
2008              10030.808913
2009              12156.029391
2010              10375.172014
2011              10383.459331
2012              11745.489915
2013              11813.502203
2014              12026.334493
2015              12727.410265
2016               12843.33429
2017              11863.683945
2018              12552.054687
2019              12886.135952
2020              14489.258656
2021              15236.160488
2022              18017.458938
2023                       NaN
Name: 11, dtype: object

In [27]:
gdp.columns

Index(['Country Name', 'Country Code', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [30]:
#Dealing with Missing Value
# Remplir les NaN dans chaque ligne en utilisant les valeurs suivantes (au besoin, de gauche à droite)
gdp = gdp.apply(lambda row: row.fillna(method='bfill', axis=0), axis=1)

# Pour les valeurs manquantes de la dernière colonne (2023), les remplacer par celles de 2022 si elles sont NaN
gdp['2023'] = gdp['2023'].fillna(gdp['2022'])

# Affichage du résultat
print(gdp)

                    Country Name Country Code          2000          2001  \
0                          Aruba          ABW  20681.023027  20740.132583
1    Africa Eastern and Southern          AFE    707.120376    626.169148
2                    Afghanistan          AFG    174.930991    138.706822
3     Africa Western and Central          AFW    516.932316    530.653167
4                         Angola          AGO    563.733796    533.586202
..                           ...          ...           ...           ...
261                       Kosovo          XKX   2877.393314   2877.393314
262                  Yemen, Rep.          YEM    493.235183    487.141258
263                 South Africa          ZAF   3217.846934   2847.151919
264                       Zambia          ZMB    359.429501    396.548953
265                     Zimbabwe          ZWE    562.556900    566.107647

             2002          2003          2004          2005          2006  \
0    21307.248251  21949.485996  23700.631990  24171.837133  24845.658484
1      625.998815    809.968139    981.744631   1115.713956   1220.002468
2      178.954088    198.871116    221.763654    254.184249    274.218554
3      616.796033    694.500939    834.861291    989.699739   1222.550498
4      882.147847    992.698979   1266.210864   1916.468422   2617.051960
..            ...           ...           ...           ...           ...
261   2877.393314   2877.393314   2877.393314   2877.393314   2877.393314
262    513.241487    548.905883    627.632023    734.159908    809.713128
263   2688.236760   4062.217560   5221.463337   5836.876633   6077.382934
264    393.864626    446.290105    548.685975    710.982068   1051.717149
265    524.677239    468.234186    469.484654    461.028281    430.809179

             2007  ...          2014          2015          2016  \
0    26736.308944  ...  26129.839062  27458.225331  27441.529662
1     1362.310651  ...   1656.107642   1479.564123   1329.777824
2      376.223152  ...    625.054942    565.569730    522.082216
3     1393.748487  ...   2204.995700   1845.767804   1616.843198
4     3141.045980  ...   5005.999741   3213.902611   1807.952941
..            ...  ...           ...           ...           ...
261   2877.393314  ...   3902.494244   3520.628507   3759.449591
262    890.305768  ...   1430.164210   1362.173794    975.359407
263   6591.855360  ...   6856.731371   6112.273825   5651.205852
264   1118.731626  ...   1707.485731   1295.877887   1239.085279
265    413.302572  ...   1372.212781   1386.422847   1407.415364

             2017          2018          2019          2020          2021  \
0    28440.051964  30082.127645  31096.205074  22855.932320  27200.061079
1     1520.171298   1538.924188   1493.780445   1344.080962   1522.590088
2      525.469771    491.337221    496.602504    510.787063    356.496214
3     1560.162999   1703.896392   1783.654365   1664.249176   1747.840549
4     2437.259712   2538.591391   2189.855714   1449.922867   1925.874661
..            ...           ...           ...           ...           ...
261   4009.317993   4384.186241   4415.997161   4310.888247   5270.426702
262    811.165964    633.887206    623.376165    559.564673    522.173513
263   6618.335083   6914.178032   6533.711210   5580.603831   6843.399419
264   1483.465773   1463.899979   1258.986198    951.644317   1127.160779
265   3448.082537   2271.853335   1684.027904   1730.413489   1724.387731

             2022          2023
0    30559.533535  33984.790620
1     1628.024526   1659.515290
2      357.261153    415.707417
3     1777.235012   1568.724310
4     2929.694455   2308.159767
..            ...           ...
261   5290.947472   5960.158205
262    615.702079    477.409029
263   6523.410978   6022.542542
264   1447.123101   1330.727806
265   2040.552459   2156.034004

[266 rows x 26 columns]

/var/folders/lz/zsz00k2n3pbflxxlfqttyt500000gn/T/ipykernel_3597/311554947.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  gdp = gdp.apply(lambda row: row.fillna(method='bfill', axis=0), axis=1)

In [31]:
print(gdp.iloc[11])

Country Name    American Samoa
Country Code               ASM
2000               8972.696365
2001               8972.696365
2002               8972.696365
2003               9197.661968
2004               8958.428667
2005                8831.26976
2006               8745.166211
2007               9231.372409
2008              10030.808913
2009              12156.029391
2010              10375.172014
2011              10383.459331
2012              11745.489915
2013              11813.502203
2014              12026.334493
2015              12727.410265
2016               12843.33429
2017              11863.683945
2018              12552.054687
2019              12886.135952
2020              14489.258656
2021              15236.160488
2022              18017.458938
2023              18017.458938
Name: 11, dtype: object